<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nconst</th>
                <th>Primary Name</th>
                <th>Birth Year</th>
                <th>Death Year</th>
                <th>Primary Profession</th>
                <th>Known For Titles</th>
            </tr>
        </thead>
        <tbody>
            <!-- <div
            class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
            ></div> -->
            <tr *ngFor="let product of productList">
                <td>{{ product.nconst | uppercase }}</td>
                <td> {{ product.primaryName }}</td>
                <td> {{ product.birthYear }}</td>
                <td> {{ product.deathYear }}</td>
                <td> {{ product.primaryProfession }}</td>
                <td> {{ product.knownForTitles }}</td>
            </tr>
            <tr *ngIf="!productList.length">
                <td colspan="6">No record Found</td>
            </tr>
        </tbody>
    </table>
</div>